.container {
    width: 70%;
    margin: auto;
}


/************************************* FLEX UTILITIES ****************************************/

.flx {
    display: flex;
}

.flx-col {
    flex-direction: column;
}

.flx-row {
    flex-direction: row;
}

.align-center {
    align-items: center;
}

.align-start {
    align-items: flex-start;
}

.align-end {
    align-items: flex-end;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-evenly {
    justify-content: space-evenly;
}

/*************************************** MARGIN UTILITIES *************************************/

.mt-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mt-3 {
    margin-top: 3rem;
}

.mt-4 {
    margin-top: 4rem;
}


.mb-1 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mb-3 {
    margin-bottom: 3rem;
}

.mb-4 {
    margin-bottom: 4rem;
}

.mb-5 {
    margin-bottom: 5rem;
}


.ml-1 {
    margin-left: 1rem;
}

.ml-2 {
    margin-left: 2rem;
}


.mr-1 {
    margin-right: 1rem;
}

.mr-2 {
    margin-right: 2rem;
}

.mr-3 {
    margin-right: 3rem;
}

.mh-auto {
    margin: 0 auto;
}

/*************************************** PADDING UTILITIES *************************************/

.pd-1 {
    padding: 1rem;
}

.pd-2 {
    padding: 2rem;
}

.pd-3 {
    padding: 3rem;
}

/*************************************** FONT WEIGHT UTILITIES *************************************/

.fw-200 {
    font-weight: 200;
}

.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-800 {
    font-weight: 800;
}

/*************************************** FONT COLOR UTILITIES *************************************/

.red-txt {
    color: $swatch_6;
}

.yellow-txt {
    color: yellow;
}

.grey-txt {
    color: $swatch_2;
}

.swatch-1 {
    color: $swatch_1;
}

.swatch-2 {
    color: $swatch_2;
}

.swatch-3 {
    color: $swatch_3;
}

.swatch-7 {
    color: $swatch_7;
}


/*************************************** TEXT SIZE UTILITIES *************************************/

.txt-sm {
    font-size: 1rem;
}

.txt-md {
    font-size: 1.5rem;
}

.txt-lg {
    font-size: 3rem;
}

.txt-xlg {
    font-size: 6rem;
}

/*************************************** TEXT ALIGN UTILITIES *************************************/

.txt-center {
    text-align: center;
}


/*************************************** CASE UTILITIES *************************************/

.txt-capitalize {
    text-transform: capitalize;
}

.txt-uppercase {
    text-transform: uppercase;
}

/*************************************** LETTER SPACING UTILITIES *************************************/

.ls-1 {
    letter-spacing: .5rem;
}


/*************************************** BORDER UTILITIES *************************************/

.border-red {
    border-color: red;
}

.br-1 {
    border-radius: 1rem;
}
.br-2 {
    border-radius: 2rem;
}

/*************************************** BG UTILITIES *************************************/

.bg-red {
    background-color: red;
}

.bg-swatch-3 {
    background-color: $swatch_3;
}

.bg-swatch-4 {
    background-color: $swatch_4;
}

/*************************************** GRID UTILITIES *************************************/

.grid {
    display: grid;
    grid-auto-rows: minmax(15rem, auto);
}

.grid-col-3 {
    grid-template-columns: repeat(3, 1fr);
}

.grid-col-4 {
    grid-template-columns: repeat(4, 1fr);
}

.grid-col-5 {
    grid-template-columns: repeat(5, 1fr);
}

.gap {
    &-1 {
        gap: 1rem;
    }
    &-2 {
        gap: 2rem;
    }
    &-3 {
        gap: 3rem;
    }
}

/*************************************** IMAGE UTILITIES *************************************/

.round-img {
    height: 12rem;
    width: 12rem;
    object-fit: cover;
    border-radius: 100%;
}

.square-img {
    width: 25rem;
    object-fit: cover;
}

