.container {
    width: 70%;
    margin: auto;
}


/************************************* FLEX UTILITIES ****************************************/

.flx {
    display: flex;
}

.flx-col {
    flex-direction: column;
}

.flx-row {
    flex-direction: row;
}

.align-center {
    align-items: center;
}

.align-start {
    align-items: flex-start;
}

.align-end {
    align-items: flex-end;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

.justify-between {
    justify-content: space-between;
}

.justify-evenly {
    justify-content: space-evenly;
}

.flx-wrap {
    flex-wrap: wrap;
}

/*************************************** MARGIN UTILITIES *************************************/

.mt-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mt-3 {
    margin-top: 3rem;
}

.mt-4 {
    margin-top: 4rem;
}


.mb-h {
    margin-bottom: .5rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mb-3 {
    margin-bottom: 3rem;
}

.mb-4 {
    margin-bottom: 4rem;
}

.mb-5 {
    margin-bottom: 5rem;
}


.ml-1 {
    margin-left: 1rem;
}

.ml-2 {
    margin-left: 2rem;
}

.ml-3 {
    margin-left: 3rem;
}

.ml-4 {
    margin-left: 4rem;
}

.ml-5 {
    margin-left: 5rem;
}


.mr-h {
    margin-right: .5rem;
}

.mr-1 {
    margin-right: 1rem;
}

.mr-2 {
    margin-right: 2rem;
}

.mr-3 {
    margin-right: 3rem;
}

.mr-4 {
    margin-right: 4rem;
}

.mh-auto {
    margin: 0 auto;
}

/*************************************** PADDING UTILITIES *************************************/

.pd-1 {
    padding: 1rem;
}

.pd-2 {
    padding: 2rem;
}

.pd-3 {
    padding: 3rem;
}
.pd-4 {
    padding: 4rem;
}
.pd-5 {
    padding: 5rem;
}

/*************************************** FONT WEIGHT UTILITIES *************************************/

.fw-200 {
    font-weight: 200;
}

.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-800 {
    font-weight: 800;
}

/*************************************** FONT COLOR UTILITIES *************************************/

.red-txt {
    color: $swatch_6;
}

.yellow-txt {
    color: yellow;
}

.grey-light {
    color: #eee;
}

.grey-txt {
    color: $swatch_2;
}

.swatch-1 {
    color: $swatch_1;
}

.swatch-2 {
    color: $swatch_2;
}

.swatch-3 {
    color: $swatch_3;
}

.swatch-4 {
    color: $swatch_4;
}

.swatch-5 {
    color: $swatch_5;
}

.swatch-7 {
    color: $swatch_7;
}


/*************************************** TEXT SIZE UTILITIES *************************************/

.txt-sm {
    font-size: 1rem;
}

.txt-md-sm {
    font-size: 1.2rem;
}

.txt-md {
    font-size: 1.5rem;
}

.txt-md-lg {
    font-size: 2.2rem;
}

.txt-lg {
    font-size: 3rem;
}

.txt-lg-md {
    font-size: 4.5rem;
}

.txt-xlg {
    font-size: 6rem;
}

/*************************************** TEXT ALIGN UTILITIES *************************************/

.txt-center {
    text-align: center;
}


/*************************************** CASE UTILITIES *************************************/

.txt-capitalize {
    text-transform: capitalize;
}

.txt-uppercase {
    text-transform: uppercase;
}

/*************************************** LETTER SPACING UTILITIES *************************************/

.ls-1 {
    letter-spacing: .5rem;
}


/*************************************** BORDER UTILITIES *************************************/

.border-red {
    border-color: red;
}

.br-1 {
    border-radius: 1rem;
}

.br-2 {
    border-radius: 2rem;
}

.br-3 {
    border-radius: 3rem;
}

.bd-round {
    border: solid 1px $swatch_3;
    border-radius: 100%;
    width: 12rem;
    height: 12rem;
    text-align: center;
}

/*************************************** BG UTILITIES *************************************/

.bg-red {
    background-color: red;
}

.bg-swatch-1 {
    background-color: $swatch_1;
}

.bg-swatch-2 {
    background-color: $swatch_2;
}

.bg-swatch-3 {
    background-color: $swatch_3;
}

.bg-swatch-4 {
    background-color: $swatch_4;
}

.bg-swatch-5 {
    background-color: $swatch_5;
}

.bg-swatch-6 {
    background-color: $swatch_6;
}

.bg-swatch-7 {
    background-color: $swatch_7;
}

.bg-swatch-8 {
    background-color: $swatch_8 !important;
}

/*************************************** GRID UTILITIES *************************************/

.grid {
    display: grid;
    grid-auto-rows: minmax(15rem, auto);
}

.grid-col-2 {
    grid-template-columns: repeat(2, 1fr);
}

.grid-col-3 {
    grid-template-columns: repeat(3, 1fr);
}

.grid-col-4 {
    grid-template-columns: repeat(4, 1fr);
}

.grid-col-5 {
    grid-template-columns: repeat(5, 1fr);

    @media screen and (max-width: 500px) {
        grid-template-columns: 1fr;
    }
}

.gap {
    &-1 {
        gap: 1rem;
    }
    &-2 {
        gap: 2rem;
    }
    &-3 {
        gap: 3rem;
    }
}

.grid-center {
    align-self: center;
    justify-self: center;
}


.col-span-2 {
    grid-column: span 2;
}

.col-span-3 {
    grid-column: span 3;
}

.row-span-2 {
    grid-row: span 2;
}


/*************************************** IMAGE UTILITIES *************************************/

.round-img {
    height: 12rem;
    width: 12rem;
    object-fit: cover;
    border-radius: 100%;
}

.square-img {
    width: 25rem;
    object-fit: cover;
}

/********************************** POS UTILS ************************************/

.pos-rel {
    position: relative;
}


/********************************** ICON UTILS ************************************/

.icon-display {
    height: 12rem;
    width: 12rem;
    border-radius: 100%;
    border: solid 1px rgba($swatch_1, .1);
}

/********************************** WIDTH UTILS ************************************/

.max-width-content {
    max-width: max-content;
}