$swatch_1: #fff;
$swatch_2: #777;
$swatch_3: #333;
$swatch_4: #161616;
$swatch_5: #0d0d0d;
$swatch_6: rgb(250, 66, 66);
$swatch_7: rgb(161, 161, 161);


$mobile-xsm: 280px;
$mobile-sm: 320px;
$mobile-md: 400px;
$mobile-lg: 500px;

$tablet-sm: 640px;
$tablet-md: 800px;
$tablet-lg: 960px;
$tablet-xlg: 1024px;

$laptop-md: 1366px;
$laptop-lg: 1440px;
$laptop-xlg: 1920px;
