.btn {
    padding: 1rem 2rem;
    font-family: 'Poppins', 'Segoe UI';
    text-transform: capitalize;
    text-align: center;
    font-size: 1.2rem;
    border-radius: 1.5rem;
    background-color: #333;
    border: none;
    color: #fff;
    cursor: pointer;
    outline: none;

    transition: .3s ease;

    &:hover {
        transform: scale(1.1);
    }


    &-light {
        background-color: $swatch_1;
        color: $swatch_3;

        &-outline {
            border: solid 1px $swatch_1;
            background: transparent;
            color: $swatch_1;
            

            &:hover {
                background-color: $swatch_1;
                color: $swatch_3;
            }
        }
    }
    
    &-swatch6 {
        background-color: $swatch_6;
        color: $swatch_5;

        &-outline {
            border: solid 1px $swatch_6;
            background: transparent;
            color: $swatch_6;
            

            &:hover {
                background-color: $swatch_6;
                color: $swatch_5;
            }
        }
    }
    
    &-swatch2 {
        background-color: $swatch_2;
        color: $swatch_5;

        &-outline {
            border: solid 1px $swatch_2;
            background: transparent;
            color: $swatch_2;
            

            &:hover {
                background-color: $swatch_2;
                color: $swatch_5;
            }
        }
    }
    
    &-swatch7 {
        background-color: $swatch_7;
        color: $swatch_5;

        &-outline {
            border: solid 1px $swatch_7;
            background: transparent;
            color: $swatch_7;
            

            &:hover {
                background-color: $swatch_7;
                color: $swatch_5;
            }
        }
    }

    

}
