.card {
    position: relative;
    height: 30rem;
    min-width: 40rem;
    max-width: max-content;
    border-radius: 3rem;
    overflow: hidden;

    @media screen and (max-width: $mobile-md) {
        min-width: 25rem;
        height: 25rem;
    }


    .badge {
        position: absolute;
        top: 1rem;
        right: 1rem;
        z-index: 1;
        background-color: rgba($swatch_4, .4);
        backdrop-filter: blur(2px);

        &-txt {
            margin: 0 1rem;
        }
    }

    &-img {
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    &-body {
        position: absolute;
        bottom: 0;
        z-index: 1;
        min-height: max-content;
        max-height: 80%;
        width: 100%;
        border-radius: 3rem;
        background-color: rgba($swatch_4, .8);
        backdrop-filter: blur(2px);
        padding: 2rem;

        @media screen and (max-width: $mobile-md) {
            padding: 1.5rem;
            border-radius: 2rem;
        }

        h2 {
            font-size: 2.3rem;
            color: $swatch_1;
            text-transform: capitalize;
            font-weight: 500;
            margin-top: .5rem;
            line-height: 140%;

            @media screen and (max-width: $mobile-md) {
                font-size: 1.8rem;
            }
        }

        .btn {
            padding: 1rem;

            .lnr {
                font-size: 2rem;
            }
        }
    }
}

/************************** card 2 ********************************/

.card-2 {
    height: 30rem;
    width: 30rem;

    img {
        width: 100%;
        height: 60%;
    }
}

.card-2-body {
    width: 100%;
}

/************************** card 3 ********************************/

.card-3 {
    position: relative;
    height: 30rem;
    width: 30rem;
    overflow: hidden;

    &-img {
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .top {
        position: absolute;
        top: 0;
        padding: 1rem;
        width: 100%;
        color: $swatch_1;
        
    }
    
}

.card-3-body {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, rgba($swatch_5, .5), rgba($swatch_5, .9));
    
    .badge {
        background-color: rgba($swatch_4, .4);
        backdrop-filter: blur(2px);
        
        &-txt {
            margin: 0 1rem;
        }  
        
        .lni {
            color: #fff;
        }
    }
}

.card-3-content {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: max-content;
    padding: 2rem;

    .lnr {
        font-size: 1.5rem;
    }


}

/************************ DATA DISPLAY CARD ************************************/

.data-display {
    min-width: 25rem;
    max-width: max-content;
    background: rgba($swatch_5, .7);
    padding: 1.2rem 2rem;
    border-radius: 1rem;
}

/************************ ICON VIEW CARD ************************************/

.icon-view {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 12rem;
    width: 12rem;
    border-radius: 100%;
    border: solid 1px rgba($swatch_1, .1);
    font-size: 5rem;
}

/************************ DASH CARD ************************************/
.dash-card {
    display: block;
    padding: 2rem;
    border-radius: 2rem;
    background: $swatch_8;
    // width: max-content;
    min-width: 20rem;
}


/************************ PIN CARD ************************************/

.pin {
    min-width: 8rem;
}
